<section class="w-full h-full flex justify-center items-center">
  <div class="w-full md:w-3/4 h-full bg-white overflow-auto">
    <!-- Go -->
    <div class="w-full h-10">
      <button class="p-3" (click)="eventCloseProfile()">
        <i class="fa-sharp fa-solid fa-arrow-left text-lg"></i>
      </button>
    </div>
    <section class="md:p-4">
      <div class="block md:flex space-x-4 rounded-md overflow-hidden shadow-md">
        <div>
          <figure class="card w-full flex md:block justify-center" *ngIf="data">
            <img [src]="data.image" [alt]="data.name" />
          </figure>
        </div>

        <div class="w-full p-2 text-sm md:text-lg font-medium text-gray-600">
          <span class="text-3xl font-bold">
            {{ data.name }}
          </span>
          <div class="flex space-x-3 items-center">
            <div
              class="rounded-full w-3 h-3"
              [ngClass]="{
                'bg-green-400': data.status === characterStatus.Alive,
                'bg-red-400': data.status === characterStatus.Dead,
                'bg-gray-400': data.status === characterStatus.Unknown
              }"
            ></div>
            <span>{{ data.status }}</span>
          </div>
          <div>
            Location: <span class="text-black">{{ data.location.name }}</span>
          </div>
          <div>
            Gender: <span class="text-black">{{ data.gender }}</span>
          </div>
          <div>
            Species: <span class="text-black">{{ data.species }}</span>
          </div>
          <div>
            Origin: <span class="text-black">{{ data.origin.name }}</span>
          </div>
        </div>
      </div>
      <div class="h-96 mt-5 overflow-auto info-list">
        <ul>
          <li
            *ngFor="let episode of data.episode"
            [routerLink]="['/episode', episode]"
          >
            <span> Episode: {{ episode }}</span>
            <i class="fa-solid fa-angle-right"></i>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
